*{
    box-sizing: border-box;
    --standardBorder: 2px solid black;
}

body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#graphingCalculator{
    width: 100%;
    height: 100%;
}

#graphDisplayContainer{
    flex-direction: column;
    display: flex;
}

#graphDisplay{
    width: 80%;
    height: 80%;
    min-width: 320px;
    min-height: 480px;
    /*background-image: url("./files/images/graph_display_background.png");*/
    position: relative;
    border: var(--standardBorder);
    overflow: hidden;
}

#graphXMarkup{
    width: 80%;
    min-width: 320px;
    height: 20px;
    background-color: blue;
}

#graphYMarkup{
    width: 100%;
    height: 20px;
    background-color: red;
}

.graphPoint{
    width: 1px;
    height: 1px;
    background-color: #000000;
    background-color: blue;
    /*transform: rotate(300deg);*/
    /*border-radius: 50%;*/
}

#graphDisplay > .graphPoint{
    transform: translate(-50%, 50%);
    /*transition: 5s;*/
    transform-origin: left center;
    position: absolute;
}

#xAxis{
    width: 100%;
    height: 1px;
    /*top: 50%;*/
    background: black;
    position: absolute;
    transform: translateY(-50%);
}

#yAxis{
    width: 1px;
    height: 100%;
    /*left: 50%;*/
    background: black;
    position: absolute;
    transform: translateX(-50%);
}
